*,
*:before,
*:after {
    box-sizing: border-box;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    height: 80vh;
    padding: 100px;
}

.counter-view {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 40%;
    height: 70%;
    border-radius: 20px;
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.25);
}

.counter-value {
    font-size: 120px;
    font-family: "Crimson Pro", serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}

.counter-button {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 30%;
    height: 10%;
}

button {
    width: 60px;
    height: 60px;
    cursor: pointer;
    border: none;
    border-radius: 50%;
    transition: 200ms;
}

button:hover {
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
    width: 80px;
    height: 80px;
}

.fa-solid {
    font-size: 32px;
    position: absolute;
    transform: translateX(-50%) translateY(-50%);
}

button:hover .fa-solid {
    animation: bounce 1s infinite linear;
}


@keyframes bounce {
    0% {
        transform: translateX(-50%) translateY(-50%)
    }

    25% {
        transform: translateX(-50%) translateY(-65%)
    }

    50% {
        transform: translateX(-50%) translateY(-50%)
    }

    75% {
        transform: translateX(-50%) translateY(-35%)
    }

    100% {
        transform: translateX(-50%) translateY(-50%)
    }
}